<div class="footer">
    <div class="row">
        <div class="col-lg-6">
            <h2>Contact Us</h2>
            <p>Email: j5star&#64;luxuryhotel.com | Phone: +1 234 567 890</p>
            <p>Address: 123 Luxury Street, Dream City, Nepal</p>
        </div>
        <div class="col-lg-6">
            <p>&copy; 2025 Luxury Stay | All Rights Reserved</p>
            <div>
                <a class="mx-3"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-3"><i class="fab fa-twitter"></i></a>
                <a class="mx-3"><i class="fab fa-instagram"></i></a>
            </div>
            <p><a>Privacy Policy</a> | <a>Terms & Conditions</a></p>
        </div>
    </div>
</div>