.card-header h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-body {
    padding: 15px;
}

.list-group-item {
    border: 1px solid #ddd;
    /* Light border for each item */
    border-radius: 5px;
}

.fw-bold {
    font-weight: 600;
}