<div class="hero position-relative">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Welcome to Luxury Stay</h1>
        <p>Experience the best hotels with comfort and luxury</p>
        <!-- <a href="#hotels" class="btn btn-primary">Explore Hotels</a> -->
    </div>
</div>

<div class="container my-5" id="hotels">
    <h2 class="text-center mb-4">Our Feature</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card hotel-card">
                <img src="/images/internal-view.jpg" class="card-img-top" alt="Hotel">
                <div class="card-body">
                    <h5 class="card-title">Grand Internal View</h5>
                    <p class="card-text">Experience the royal treatment with top-notch services and scenic views.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hotel-card">
                <img src="/images/swimming-view.jpg" class="card-img-top" alt="Hotel">
                <div class="card-body">
                    <h5 class="card-title">Best Swimming</h5>
                    <p class="card-text">Relax by the beach with stunning ocean views and premium facilities.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hotel-card">
                <img src="/images/asthetic-rooms.jpg" class="card-img-top" alt="Hotel">
                <div class="card-body">
                    <h5 class="card-title">Asthetic Rooms</h5>
                    <p class="card-text">Escape to the asthetic room for a peaceful and rejuvenating experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="co-founder-section">
    <div class="co-founder-img">
        <img src="/images/sb.jpeg" alt="Co-founder">
    </div>
    <div class="co-founder-message">
        <h2>A Message from Our Founder</h2>
        <p>Welcome to Luxury Stay, where we believe in offering the finest hospitality experiences. Our goal is to
            provide you with unforgettable stays in the world's most beautiful destinations. We are dedicated to making
            your stay comfortable, luxurious, and truly special. Thank you for choosing us, and we look forward to
            hosting you.</p>
        <h5>- SB Aatreya, Co-Founder</h5>
    </div>
</div>


<app-footer></app-footer>